body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
#header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: purple;
    color: white;
}
#gameboard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background-color: lightcoral;
}
#game-area{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    width: 100%;
    margin: auto;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: calc(100vh - 100px);
    background-color: lightslategray;
    border: 2px solid red;
}
.cell {
    width: 100px;
    height: 100px;
    background-color: green;
    cursor: pointer;
    border: 2px solid black;
}