body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
#header {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100vw;
    align-items: center;
    justify-content: center;
    background-color: #F0EAD6;
    font-size: 26px;
    color: black;
    box-shadow: 0px 5px 15px ;
}
#startGame {
    width: 50%;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}
#startGameBtn{
    width: 200px;
    height: 50px;
    border-radius: 5px;
}
#gameboard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background-color: rgba(0, 0, 80, 0.733);
}
#game-area{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    width: 100%;
    margin: auto;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: calc(100vh - 100px);
    background-color: #6699CC;
}
.hidden{
    display: none;
    visibility: hidden;
}
.cell {
    width: 100px;
    height: 100px;
    background-color: green;
    cursor: pointer;
    border: 2px solid black;
}
.cell:hover {
    background-color: darkgreen;
}
#playersDiv{
    border: 1px solid black;
    width: 250px;
    height: 250px;
    background-color: tan;
}

.currentPlayer{
    background-color: green;
}
.waitingPlayer{
    background-color: none;
}


.playerNamePlates {
    color: black;
    font-size: 24px;
    text-align: center;
    border: 1px solid black;
}

.endGameScreen{
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: gold;
    color: black;
    font-size: 24px;
    font-weight: bold;
    width: 800px;
    height: 600px;
    border-radius: 15px;
    border: 1px solid black;
    align-self: center;
    align-items: center;
    justify-content: center;
    position: absolute;
}
.endGameScreen > button {
    width: 200px;
    height: 50px;
    
}